<% if spree_current_user %>
    <% if current_user.has_role? "admin" %>
      <% if !current_store.subscription.active? || current_store.subscription.pending_cancelation? %>
        <li><%= link_to t(:subscribe), main_app.store_plans_path(current_store) %></li>
      <% end %>
      <li><%= link_to t(:dashboard), admin_path(spree_current_user)%></li>
    <% end %>
  <li><%= link_to t(:logout), spree_logout_path, :method => :delete %></li>
<% else %>
  <li><%= link_to t(:login), spree_login_path %></li>
  <li><%= link_to t(:signup), spree_signup_path %></li>
<% end %>
