<% if current_store.subscription.pending_cancelation? %>
  <%= render 'subscriptions/subscription_days_remaining' %>
<% end %>
<div>
  <table class="index table">
    <tr>
      <% @plans.each do |plan| %>
        <td>
          <h2 class="name"><%= plan.name %></h2>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @plans.each do |plan| %>
        <td>
          <p class="max_products">Products: <%= plan.max_products %></p>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @plans.each do |plan| %>
        <td>
          <p class="price"><%= number_to_currency plan.price %></p>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @plans.each do |plan| %>
        <td>
          <% if !current_store.subscription.active? %>
            <%= link_to "Subscribe", main_app.edit_store_subscription_path(current_store, current_store.subscription, :plan_id => plan.id), class: "button primary ", id: plan.plan_identifier %>
          <% else %>
            <% if current_plan?(plan.plan_identifier) && !current_store.subscription.pending_cancelation? %>
              <%= link_to "Current Plan","#", id: "current_plan",class: "button primary disabled" %>
            <% else %>
              <%= form_tag main_app.store_subscription_path(current_store, current_store.subscription, :plan_id => plan.id), :method => :put do %>
                <%= submit_tag "Subscribe" %>
              <% end %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>
</div>
<% if active_and_not_pending_cancelation? %> 
  <%= render 'subscriptions/cancel_subscription' %>
<% end %>
