<h1>Plans</h1>
<% if current_store.subscription.pending_cancelation? %>
  <%= render 'subscriptions/subscription_days_remaining' %>
<% end %>
<div class="container">
  <table class="table">
    <caption><h1>Pricing</h1></caption>
    <tr>
      <% @plans.each do |plan| %>
        <td>
          <h2 class="name"><%= plan.name %></h2>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @plans.each do |plan| %>
        <td>
          <p class="max_products">Products: <%= plan.max_products %></p>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @plans.each do |plan| %>
        <td>
          <p class="price"><%= number_to_currency plan.price %></p>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @plans.each do |plan| %>
        <td>
          <% if !current_store.subscription.active? %>
            <%= link_to "Subscribe", main_app.edit_store_subscription_path(current_store, current_store.subscription, :plan_id => plan.id), class: "btn btn-primary btn-small", id: plan.plan_identifier %>
          <% else %>
            <% if current_plan?(plan.plan_identifier) && !current_store.subscription.pending_cancelation? %>
              <%= link_to "Current Plan","#", class: "button primary disabled" %>
            <% else %>
              <%= form_tag main_app.store_subscription_path(current_store, current_store.subscription, :plan_id => plan.id), :method => :put do %>
                <%= submit_tag "Subscribe" %>
              <% end %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>
  <ul class="inline">
    <li>
    <%= link_to "Update Credit Card", store_subscription_edit_credit_card_path(current_store, current_store.subscription), class: "button" if current_store.subscription.card_provided? %>
    </li>
    <li>
    <%= render 'cancel_subscription' if current_store.subscription.active? && !current_store.subscription.pending_cancelation?%>
    </li>
  </ul>
</div>
