<% if spree_current_user.admin? %>
  <h1><%= t(:plan) %></h1>
  <dl id="plan">
  <dt><h5><%= t(:name) %>:</h5></dt>
  <% if current_store.subscription.active? && !current_store.subscription.pending_cancelation? %>
    <dd><h5><%= @plan.name %>  %></h5></dd>
    <dt><h5><%= t(:price) %>:</h5></dt>
    <dd><h5><%= number_to_currency @plan.price %></h5></dd>
    <ul class="inline">
      <li><%= link_to "#{t(:change)} #{t(:plan)}", main_app.store_plans_path(current_store), class: "button primary" %></li>
      <li><%= render 'subscriptions/cancel_subscription' if current_store.subscription.active? && !current_store.subscription.pending_cancelation?%></li>
    </ul>
  <% elsif current_store.subscription.pending_cancelation? %>
    <dd><h5><%= @plan.name %>(pending cancelation) </h5></dd>
    <dt><h5><%= t(:price) %>:</h5></dt>
    <dd><h5><%= number_to_currency @plan.price %></h5></dd>
    <%= link_to "#{t(:resubscribe)}", main_app.store_plans_path(current_store), class: "button primary" %>
  <% else %>
    <dd><h5>No Plan</h5></dd>
    <%= link_to "#{t(:subscribe)}", main_app.store_plans_path(current_store), class: "button primary" %>
  <% end %>
  <hr>
</dl>
<% end %>
