<!DOCTYPE html>
<html>
<head>
  <title>ComicShelf</title>
  <%= yield :dynamic_javascripts %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <% if current_store.subscription.trial? %>
    <%= render 'subscriptions/trial' %>
  <% end %>
  <%= render 'shared/flash_notification' %>
  <%= yield %>
  <%= debug(params)if Rails.env.development? %>
</body>
</html>
